* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    outline: none;
  }
  /* Multiple Style */
  .text_second {
    color: blue;
  }
  body input {
    outline: none;
    border: none;
    background: white;
    padding: 10px;
    border-radius: 10px;
  }
  .text_bg {
    width: fit-content;
    background-color: blue;
    color: white;
    font-weight: bold;
    padding: 2px 5px;
    border-radius: 5px;
  }
  /* Multiple Style */
  /* Header Related Style Here */
nav .active {
    color: blue !important;
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
  .nav-link:hover {
    color: blue !important;
  }
  /* Header Related Style End */
  
/* Hero Section Style Start */
.hero_container {
    background-image: url("Images/Hero\ BG.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  /* Hero Section Style End */
  /* Solution Section Style Start */
.solution_container {
    background: rgb(4, 4, 71);
    padding: 200px 0px 0px 0px;
    position: relative !important;
    text-align: center;
    color: white;
    overflow-x: hidden;
  }
  .bg_shape {
    clip-path: polygon(0 0, 100% 0%, 100% 5%, 50% 20%, 0 5%);
    width: 100% !important;
    position: absolute !important;
    top: 0;
    left: 0;
    height: 30%;
    background: #F9C4D6;
  }
  .bg_shape_two {
    clip-path: polygon(0 0, 100% 0%, 100% 5%, 50% 20%, 0 5%);
    width: 100% !important;
    position: absolute !important;
    top: 0;
    left: 0;
    height: 80%;
    background: #FF5757;
  }
  /* Solution Section Style End */
  
/* Client Section Style Start */
.client_container {
    position: relative;
    padding: 100px 0px;
  }
  .client_item {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 10px 30px !important;
    width: 80%;
    margin: auto auto;
    background: white;
    margin-top: 50px;
    position: relative;
  }
  .quote {
    position: absolute;
    top: -88px;
    left: -50px;
    opacity: 0.3;
  }
  .client_item img {
    width: 200px;
  }
  .client .swiper-button-next::after {
    display: none;
  }
  .client .swiper-button-next {
    text-decoration: none;
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
      rgba(17, 17, 26, 0.1) 0px 0px 8px;
    color: black;
  }
  .client .swiper-button-prev {
    text-decoration: none;
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
      rgba(17, 17, 26, 0.1) 0px 0px 8px;
    color: black;
  }
  .client .swiper-button-prev::after {
    display: none;
  }
  /* Client Section Style End */
  /* Footer */
footer{
    padding: 50px 0px;
}
footer a{
    text-decoration: none;
    color: rgb(11, 11, 11);
    transition: .3s all;
}
footer a:hover{
    color: blue;
}
.footer_sm_nav{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer_icon{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}
/* Footer */
/* Responsive */
@media screen and (max-width: 576px) {
    .hero_container {
      height: auto;
      padding: 80px 0px;
    }
    .client_item {
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 0;
    }
    .ring_one {
      display: none;
    }
    .ring_two {
      display: none;
    }
    .ring_three {
      display: none;
    }
    .app_download h2 {
      font-size: 20px;
    }
    .app_download p {
      font-size: 16px !important;
    }
  }